.page-link-light {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #343a40;
}
 
.page-item-light.disabled .page-link-light {
  color: #868e96;
  pointer-events: none;
  cursor: auto;
}
 
.page-item-light.active .page-link-light {
  z-index: 1;
  color: #f8f9fa;
  background-color: #007bff;
}
 
.page-link-light:focus, .page-link-light:hover {
  color: #007bff;
  text-decoration: none;
}

.page-link-dark {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: white;
}
 
.page-item-dark.disabled .page-link-dark {
  color: #868e96;
  pointer-events: none;
  cursor: auto;
}
 
.page-item-dark.active .page-link-dark {
  z-index: 1;
  color: white;
  background-color: #868e96;
}
 
.page-link-dark:focus, .page-link-dark:hover {
  color: orange;
  text-decoration: none;
}

 